.main-wrapper {
  opacity: 0;
}

.split-line {
  overflow: hidden;
}

.navbar.is--scrolled {
  background-color: white;
}

.navbar.is--scrolled .navbar--logo-link {
  color: #4e2525;
}

[animation="parallax-hero"],
[animation="parallax"] {
  height: 120%;
}

.navbar.is--scrolled {
  background-color: #0e2f3e;
}

.navbar-link.is-dropdown.open .icon-8 {
  rotate: 90deg;
}

.navbar-dropdown-list {
  height: 0px;
}
